[submodule "lib/logger"]
	path = lib/logger
	url = git@github.com:computations/logger.git
[submodule "lib/coraxlib"]
	path = lib/coraxlib
	url = https://codeberg.org/Exelixis-Lab/coraxlib.git
[submodule "lib/--force"]
	path = lib/--force
	url = https://github.com/CLIUtils/CLI11.git
[submodule "lib/CLI11"]
	path = lib/CLI11
	url = https://github.com/CLIUtils/CLI11.git
[submodule "tests/lib/Catch2"]
	path = tests/lib/Catch2
	url = https://github.com/catchorg/Catch2.git
